@import "../styles/index";

.root {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.buttonText {
  margin-left: 8px;
  color: #97999B;
  font-size: 16px;
  line-height: 30px;
}

.icon {
  margin-right: 5px;
}

.active {
  color: #338AF3;
}
